// color schema
$n-yellow: #FFC265;

$n-green: #1DA599;
$n-green-light: #C1FFFA;
$n-green-lighter: #F3FFFE;

$n-white: #FFFFFF;


$n-grey-light: #525252;
$n-grey: #4A4A4A;
$n-grey-dark: #454545;
$n-grey-darker: #3F3F3F;

$font-primary: 'Kufam';
$font-secondary: 'Nunito';