@import './reset.scss';
@import './fonts.scss';
@import './initial-variables.scss';
@import './components/index.scss';

body {
  font-family: 'Nunito', 'Kufam', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 668px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 924px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}